<main>
  <div class="toast drop-shadow-lg">
    <p class="alert alert-info" role="alert"
       phx-click="lv:clear-flash"
       phx-value-key="info"><%= live_flash(@flash, :info) %></p>
  </div>

  <div class="toast drop-shadow-lg">
    <p class="alert alert-danger" role="alert"
       phx-click="lv:clear-flash"
       phx-value-key="error"><%= live_flash(@flash, :error) %></p>
  </div>
  <%= @inner_content %>
</main>
